// Paragraph
$paragraph-Color:#494755;
$paragraph-fontsize:1.8rem;

// button
$button-color:#FFFFFF;
$button-Bgcolor:#FF4B98;
$button-padding:1.3rem;

// Body
$body-Fontsize:1.5rem;
$bodyfont-weight:400;

// Menu 
$menufont-size:1.6rem;
$menufont-weight:500;

// heading
$heading-fontweight:900;
$heading-fontsize:4rem;
$heading-mediafontsize:3rem;
$heading-Color:#2C2643;

//margin
$margin:3rem;
$padding:2rem;
 
 

$bold:700;

// Footer 
$footer-Bgcolor:#2C2643;
$footer-titleColor: #FFFFFF;
$footer-titlefontsize:2.2rem;
$footer-listColor:#D8D8D8;
$footer-listfontsize:1.4rem;

// Section 
$section-padding:5rem;



 

 
