@import '../breakpoints/media-queries';

   /************************************/
  /*********** 1 Header Menu Css*******/
 /************************************/
 .al-header-menu-section{
    box-shadow: 0px 0px 191px 0px #70707024;
    border-bottom: 1px solid #00000014;
        
    .al-header-menu-area{
        position: relative;
        .al-logo-area{
            .al-logo{
                a{
                    img{
                         
                    }
    
                }
            }
        .al-menu-icon{
            display: none;
            a{ 
                width: 4rem;
                height: 4rem;
                background-color: #2C2643;
                color: #FFFFFF;
                display: inline-block;
                font-size: 18px;
                line-height: 39px;
                text-align: center;
                border-radius: 5px;
                i{
                }
            }
            @include desktop{
                display: block;
                padding:$padding 0rem;
            }
        }       
        @include desktop{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        }
        .al-menu-area{
            display: flex ;
            justify-content: space-between;
            align-items: center;
            .al-menu{
                ul {
                    display: flex;
                    align-items: center;
                    li{
                        padding-right: 5rem;
                        @include desktop{
                            padding-right: 0rem;
                            padding-top: 1rem;
                        }
                        &:last-child{
                            padding-right: 0rem;
                        }
                        a{
                            color:$heading-Color;
                            font-size: $menufont-size;
                            font-weight: $menufont-weight;
                            transition: .3s;
                            &:hover{
                                color:#FF4B98;
                            }
                        }
                        
                    }
                    @include desktop{
                        flex-direction: column;
                         
                    }
                }
                @include desktop{
                    display: flex;
                    justify-content: center;
                }
            }
            .al-button-area{
                padding:3rem 0rem;
                @include desktop{
                    padding:0rem;
                }
                ul {
                    display: flex;
                    align-items: center;
                    @include desktop{
                        flex-direction: column;

                    }
                     
                    li{  
                        &:first-child{
                            margin-right: $margin;
                            @include desktop{
                                margin-right: 0rem;
                                margin-top: 1rem;
                            }
                        }
                         
                        a{ 
                            font-size: $menufont-size;
                            font-weight: $menufont-weight;
                            color: $heading-Color;
                            &:hover{
                                color:#FF4B98;
                            }
                            
                        }
                         
                    }
                    li:last-child a{
                        color:#fff;
                        padding:$button-padding 1.5rem;
                        text-transform:capitalize;
                        background-color: #FF4B98;
                        font-size: 1.5rem;
                        border-radius: .5rem;
                        transition: .3s;
                        &:hover{
                            color:#fff;
                        }
                        @include desktop{
                            display: block;
                            margin-top: 1rem;
                        }
                    }
                    
                }
            }
            @include desktop{
                display: none;
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                border-radius:0px 0px 10px 10px;
                padding: 2rem 0rem;
                background-image: linear-gradient(197deg, #8AE092, #19CF89) !important;
                z-index: 10;
            }
            @include desktop{
                text-align: center;
            }
        }

    }
    
 }
 .fixedMenu{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background: #ffff;
    border-bottom: 1px solid #00000014;
     
 }